<html>
<head>
    <style>
        #hid1{
            color:red;
            font-style: italic;
        }
        i{
            color: red;
            font-style: italic;
        }
    </style>
</head>
<body bgcolor="#3eff3e">
<marquee behavior="alternate" width="100%"><h1>welcome to <i>Product info </i>Project</h1></marquee>
    <h1 id="hid1"><center>Product Details are......</center></h1>
<center>
    <table border="5" height="10%" width="70%">
        <tr>
            <th> Product Id</th>
            <th> Product Name</th>
            <th> Product Cost</th>
            <th> Product Color</th>
            <th> Product Mf_date</th>
            <th> Product Ex_date</th>
        </tr>
        {% for prod in det %}
        <tr>
            <td>{{prod.pid}}</td>
            <td>{{prod.pname}}</td>
            <td>{{prod.pcost}}</td>
            <td>{{prod.pcolor}}</td>
            <td>{{prod.pmfd}}</td>
            <td>{{prod.pexfd}}</td>
        </tr>
        {% endfor %}
    </table>
    <h3><a href="./">click here to go  home page</a></h3><br>
</center>
</body>
</html>