<html>
<head>
    <style>
        i{
            color: red;
            font-style: italic;
        }
    </style>
</head>
<body bgcolor="#7fffd4",align="center">
<MARQUEE BEHAVIOR="alternate" WIDTH="100%"><h1>Welcome to <i>Product info </i>Project</h1></MARQUEE>
<center>
    <h1>Please select required operation</h1>
    <h2>
        <a href="./insert">Click here to insert the product</a><br>
        <a href="./display">click here to display the product</a><br>
        <a href="./update">click here to update the product</a><br>
        <a href="./delete">click here to delete the product</a><br>
    </h2>
</center>
</body>

</html>